/************************************************************************************************
    GENERAL
************************************************************************************************/

html {
  background: url("/img/spirit_of_77.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    font-family: 'Open Sans', sans-serif;

}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
    font-family: 'Architects Daughter', cursive; /* 1st font is the custom, 2nd is the fallback */
    font-size: 3em;
    color: #006699;
    text-shadow: 2px 2px white;
}


#primary, #secondary, #pic_liner  {
    /*background-image: url('/img/parchment.jpg');*/
    background-color: lightgrey;
    padding: 20px;
    border-radius: 2em;
}

.pageHeadings {
    background-color: lightgrey;
    border-radius: 50%;
    padding: 25px;
}



/************************************************************************************************
    HEADING
************************************************************************************************/

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 20px 0;
    width: 100%
}

#logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Source Code Pro', sans-serif;   /* 1st font is the custom, 2nd is the fallback */
    margin: 15px 0;
    font-size: 2.75em;
    font-weight: normal;
    line-height: 0.8em;
    text-shadow: 4px 4px black;
}

h2 {
    font-size: 0.75em;
    font-family: 'Architects Daughter', cursive; /* 1st font is the custom, 2nd is the fallback */
    margin: -5px 0 0; /* top l/r bottom (ie: only has values applied to the top) */
    font-weight: normal;
    text-shadow: 4px 4px black;
}



/************************************************************************************************
    NAVIGATION
************************************************************************************************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}


/************************************************************************************************
    FOOTER
************************************************************************************************/

footer {
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #006699;
}

footer p {
    color: white;
    text-shadow: 4px 2px 2px #006699;

}

.social-icon {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}



/************************************************************************************************
    PAGE: PORTFOLIO;
************************************************************************************************/

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
    /*background-image: url('/img/parchment.jpg');*/
    background-color: lightgrey;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #fff;
    color: #006699;
    text-align: center;
    border-radius: 2em 2em;
/*    background-image: url('/img/parchment.jpg');*/
    background-color: lightgrey;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: #006699;
}



/************************************************************************************************
    PAGE: ABOUT
************************************************************************************************/

.profile-photo {
    display: block;
    max-width: 250px;
    margin: 0 auto 30px;
    border-radius: 50%;
}



/************************************************************************************************
    PAGE: CONTACT
************************************************************************************************/

/*#secondary {
    background-color: white;
    padding: 20px;
    border-radius: 2em;
}*/


.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 40px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    padding: 0 0 0 50px;
    margin: 0 0 20px;
    font-family: 'Architects Daughter', cursive; /* 1st font is the custom, 2nd is the fallback */
}

.contact-info li.phone a {
    background-image: url('/img/phone-drawn.png');
}

.contact-info li.mail a {
    background-image: url('/img/email-drawn.png');
}

.contact-info li.twitter a {
    background-image: url('/img/twitter-drawn.png');
}

.contact-info li.linkedin a {
    background-image: url('/img/linkedin-drawn.png');
}

.contact-info li.github a {
    background-image: url('/img/github-drawn-white.png');
}

.contact-info li.skype a {
    background-image: url('/img/skype-drawn.png');
}



/************************************************************************************************
    COLORS
************************************************************************************************/

/* site body */
/*body {
    background-color: #fff;
    color: #999;
}
*/

/* header */
header {
    background: #006699;
    border-color: #6A5ACD;
}

/* nav background on mobile */
nav {
    background: #6A5ACD;
}

/* logo text */
h1, h2 {
    color: #fff;
}

/* links */
a {
    color: #006699;
}

/* nav link */
nav a, nav a:visited {
    color: #fff;
    text-shadow: 4px 4px black;
}

nav a:hover {
    color: lightgrey;

}

/* selected nav link */
nav a.selected {
    font-size: 1.75em;
/*    text-shadow: 4px 4px black;*/
}

h1:hover {
    color: lightgrey;
}














