/*----------------------------------------------------
          Layout
----------------------------------------------------*/

body {
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: Umbrage;
    src: url(/fonts/umbrage2.ttf);
}

@font-face {
    font-family: Alpha Echo;
    src: url(/fonts/alpha_echo.ttf);
}

@font-face {
    font-family: District;
    src: url(/fonts/District.ttf);
}

@font-face {
    font-family: Calligraphy;
    src: url(/fonts/libewn.ttf);
}


/*----------------------------------------------------
          Custom Boostrap Col Widths
----------------------------------------------------*/

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding: 0;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}



.col-single {
    position: relative;
    min-height: 1px;
    padding: 0;
}


@media (max-width: 550px) {
    .col-single {
        width: 100%;
        float: left;
        margin-bottom: 40px;
    }
}

/*----------------------------------------------------
          Section Headers
----------------------------------------------------*/

.section-header {
  width: 100%;
  height: 50px;
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
}

.section-header .header-title {
  color: #272315;
  font-family: 'Vast Shadow', sans-serif;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 42px;
  padding: 0 8px;
}

.section-header .fa {
  color: #272315;
  padding: 0 8px;
}

.small {
  font-size: 14px !important;
  vertical-align: 5px;
}

.medium {
  font-size: 18px !important;
  vertical-align: 4px;
}

.large {
  font-size: 28px !important;
  vertical-align: 2px;
}

.section-header .flip {
  transform: rotateY(180deg);
}

@media (max-width: 550px) {
  .section-header {
    margin: 0 0 16px;
  }

  .section-header .header-title {
    font-size: 30px;
  }

  .large {
    display: none;
  }

  .section-header .fa {
    padding: 0 2px;
  }
}


/*----------------------------------------------------
          Navbar
----------------------------------------------------*/

.navbar {
  background-color: #fff;
  border: none;
  background-image: none;
}

.navbar-header {
  padding: 0 0 ;
}

.navbar-nav>li>a {
  color: #272315;
  font-family: 'Vast Shadow', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-align: right;
}

.navbar-nav>li>a:hover {
  background-color: transparent;
  text-shadow: 2px 2px 2px tan;
}

.navbar-nav>li>a:focus {
  background-color: transparent;
}

.navbar-nav>li>.dropdown-menu {
  background-color: #fff;
}

.navbar-toggle {
  border: none;
  margin-right: 0;
}

.icon-bar {
  color: #1173BC;
  width: 30px;
  height: 5px;
  background-color: #272315 !important;
}

.icon-bar:hover {
  color: #1173BC;
  background-color: purple !important;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: transparent;
}

.dropdown-menu {
  padding: 0;
  background-color: #eaeaea;
  border: none;
}

.dropdown-menu>li>a {
  color: #272315;
  border-bottom: 1px solid #272315;
  text-align: center;
  padding: 7px 0;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: #fff;
  background-image: none;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px tan;
  color: #272315;
  font-family: 'Vast Shadow', sans-serif;
  font-size: 14px;
}

@media (max-width: 767px) {
  .navbar-nav>li {
    text-align: right;
  }
}

/*----------------------------------------------------
          Jumbotron
----------------------------------------------------*/

.jumbotron {
  background-image: url(/img/backgrounds/vista_house_surreal_mobile.jpg);
  background-position: bottom right;
  background-size: cover;
  height: auto;
  padding: 0 0 10px;
}

.jumbotron-text {
  color: #EBE1D0;
  text-transform: uppercase;
}

.jumbotron h1 {
  font-family: 'Alpha Echo', sans-serif;
  text-shadow: 4px 4px 10px #272315;
  line-height: 60px;
  font-size: 40px;
  margin: 0;
  padding: 0px 12px;
}

.jumbotron h3 {
  font-family: 'Vast Shadow', sans-serif;
  font-size: 14px;
  text-shadow: 2px 2px 2px #272315;
  line-height: 36px;
  margin: 8px 16px;
}

.jumbotron h3 > span {
  display: block;
}

/*SM thru LG View*/
@media (min-width: 420px) {
  .jumbotron { 

  }
  .jumbotron h1 { padding: 12px 12px 0px; }
}

@media (min-width: 768px) {
  .jumbotron { 
    background-image: url(/img/backgrounds/vista_house_surreal.jpg); 
    background-position: top center;
    height: 350px;
  }
  .jumbotron h1 { font-size: 75px; padding: 12px; }
  .jumbotron h3 { font-size: 18px; }
}

@media (min-width: 420px) and (max-width: 767px) {
  .jumbotron h1 { font-size: 54px; }
  .jumbotron h3 { font-size: 16px; }
}

@media (min-width: 420px) {
  .jumbotron {
    height: 300px;
  }
}

/*----------------------------------------------------
          About Me Section
----------------------------------------------------*/

.about-me {
  margin: 50px auto 50px;
}

.about-me .row {
  padding: 80px 0;
}

.bio-text {
  line-height: 2.2;
}

.bio-text h2 {
  color: #272315;
  font-family: 'Vast Shadow', sans-serif;
}

.bio-text > p > a:hover {
  text-shadow: 1px 1px 1px tan;
  text-decoration: none;
  color: #000;
}

.bio-pic {
  float: right;
  display: flex;              /* establish flex container */
  flex-direction: column;     /* stack flex items vertically */
  justify-content: center;    /* center items vertically, in this case */
  align-items: center;        /* center items horizontally, in this case */
  height: 300px;
}

.bio-pic > .img-responsive {
  border-radius: 50%;
}


/*SM View*/
@media (min-width: 768px) and (max-width: 991px) {
  .bio-pic {
    padding: 20px 5px;
  }
  .bio-text {
    line-height: 1.5;
  }
}

/*XS View*/
@media (max-width: 767px) {
  .about-me {
    margin: 0;
  }

  .about-me .row {
    padding: 40px 0;
  }

  .bio-pic > img {
    margin: 0 auto;
  }

  .bio-text {
    padding: 50px;
  }

  .bio-text h2 {
    text-align: center;
  }
}

/*Custom View*/
@media (max-width: 500px) {
  .about-me {
    margin: 0;
  }

  .bio-text {
    padding: 16px;
    text-align: center;
  }
}


/*----------------------------------------------------
          Portfolio Tiles
----------------------------------------------------*/

.port-tiles {
  padding-bottom: 50px;
}

.port-tiles .row {
  margin-right: 25px;
  margin-left: 25px;
}

.tile-wrapper {
  position: relative;
}

.tile-wrapper:hover .summary {
  display: inline-block;
}

.tile-wrapper:hover img {
  -webkit-filter: sepia(50%);
  opacity: 0.5;
}

.tile {
  padding: 2px;
}

.tile img {
  height: auto;
  max-width: 100%;
}

.tile, .summary {
  display: inline-block;
}

.summary {
  display: none;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e8dbc7;
  width: 100%;
  border: 2px solid #272315;
  height: auto;
  padding: 10px;
}

.summary a {
  padding-right: 15px;
  float: right;
}

/*SM View*/
@media (max-width: 550px) {
  .summary {
    top: 25%;
  }
}

/*Custom View*/
@media (max-width: 550px) {
  .port-tiles {
    padding-left: 0;
    padding-right: 0;
  }

  .port-tiles .row {
    margin: 0;
  }

  .summary {
    top: 25%;
  }
}

/*----------------------------------------------------
          Education Section
----------------------------------------------------*/

.edu-descrip {}

.edu-descrip > p > a:hover {
  text-shadow: 1px 1px 1px tan;
  text-decoration: none;
  color: #000;
}


/*----------------------------------------------------
          Image Section
----------------------------------------------------*/

.image-descrip > p > a:hover {
  text-shadow: 1px 1px 1px tan;
  text-decoration: none;
  color: #000;
}

.image-bg-wrapper {
  background-image: url(/img/backgrounds/ironwood-bg.jpg);
  background-size: cover;
  background-position: top center;
  margin: 80px 0 0;
}

.image-block {
  padding: 50px 0;

}

.al-images {
  padding: 0 5px;
}

.carousel-inner {
  width: 65%;
  margin: 0 auto;
}

.carousel-control {
  background-image: none !important;
}

.carousel-control:hover {
  background-image: none !important;
}

.carousel-control:hover .glyphicon {
  transform: scale(1.5,1.5);
  text-shadow: 1px 1px 10px orange;
}

/*Custom View*/
@media (max-width: 500px) {
  .image-descrip {
    padding: 16px;
    text-align: center;
  }
}


/*----------------------------------------------------
          Social Media Icons
----------------------------------------------------*/

.social-media-icons {
  text-align: center;
  padding: 80px 0;
}

.social-media-icons > li {
  /*color: transparent;*/
  display: inline-block;
  width: 19%;
}


.icon-img:hover{
  transform:rotate(45deg);
}

@media (max-width: 400px) {
  .social-media-icons > li {
    width: 32%;
  }
}

/*----------------------------------------------------
          Footer
----------------------------------------------------*/

footer {
  text-align: center;
  height: 40px;
  width:100%;
  height: 40px;
}

footer p {
  display: block;
  color: #fff;
  line-height: 40px;
  margin: 0;
  background-color: #272315;
}










